body {
    margin-bottom: 400px !important;
    min-height: 400px;
    clear: both;
}

/** 2022 Navbar **/
.navie ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004AAD;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navie li {
    float: left;
}

.navie li:last-child {
    border-right: none;
}

.navie li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navie li a:hover:not(.active) {
    background-color: #BF2632;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.navie .active {
    background-color: #BF2632;
    color:white;
}

/** 2022 Footer **/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    height: 250px;
}
.footer-image {
    height: 200px;
    padding-bottom: 15px;
}

/** 2022 Intro **/
#intro {
    padding-top: 75px;
    font-family: "Ubuntu", sans-serif;
}

.col-md-6 .img-container img {
    margin: auto;
    display: block;
}

.img-container img {
    z-index: 1;
    max-height: 500px;
}

#intro .fa-3x{
    color: #004AAD;
}

#intro .banner-social-buttons {
    padding: 10px;
}

#intro .hack-name{
    font-size: 75px;
}

#intro .school-name {
    font-size: 35px;
}

#intro .hack-date {
    font-size: 35px;
}

#intro .intro-info {
    padding: 65px;
}

#intro .sign-up-btn {
    background-color: #BF2632;
    color: white;
    font-family: "Ubuntu", sans-serif;
    border-bottom-color: white;
    cursor: pointer !important;

}


/** 2022 Info **/
.section-info {
    position: relative;
    padding: 750px 50px 50px 250px !important;
}


#info h1 {
    color: #BF2632;
    font-size: 56px;
    font-family: 'Ubuntu', sans-serif;
}

#info .col-md-6 {
    padding-top: 25px !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

#info th {
    padding-bottom: 15px;
    font-size: 20px;
    color: #004AAD;
}

/** 2022 Prizes **/
.section-prizes {
    position: relative;
    padding: 500px 50px 50px 250px !important;
}

#prizes h1 {
    color: #BF2632;
    font-size: 56px;
    font-family: 'Ubuntu', sans-serif;
}

#prizes .col-lg-3 {
    padding-top: 25px !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

#firstplace h2 {
    color: black !important;
    font-size: larger !important;
}

#firstplace h3 {
    color: black !important;
}

#secondplace h2 {
    color: black !important;
    font-size: larger !important;
}

#secondplace h3 {
    color: black !important;
}

#thirdplace h2 {
    color: black !important;
    font-size: larger !important;
}

#thirdplace h3 {
    color: black !important;
}

#innovation h2 {
    color: #000000 !important;
    font-size: larger !important;
}

#innovation h3 {
    color: #000000 !important;
}

#secondplace .fa-5x {
    font-size: 10em !important;
    color: #C0C0C0 !important;
}

#thirdplace .fa-5x {
    font-size: 10em !important;
    color: #cd7f32 !important;
}

#innovation .fa-5x {
    font-size: 10em !important;
    color: #F5E095 !important;
}

#firstplace .fa-5x {
    font-size: 10em !important;
    color: #D4AF37 !important;
}



/** 2022 FAQ **/
.section-faq {
    position: relative;
    padding: 600px 50px 50px 250px !important;
}

#faq {
    font-family: "Ubuntu", sans-serif;
}

#faq h1 {
    color: #BF2632;
    font-size: 56px;
    font-family: 'Ubuntu', sans-serif;
}

#faq .col-md-12 {
    padding-top: 25px;
    font-size: 20px;
}

.nav li a:hover:not(.active) {
    background-color: #004AAD;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.nav .active {
    /*background-color: #004AAD;*/
    color:white;
}

.nav a {
    background-color: #004AAD;
    color:white;
}

#faq .col-lg-4 {
    padding-top: 40px;
}

#faq .col-lg-12 {
    padding-top: 40px;
}

#faq .col-lg-6 {
    padding-top: 40px;
}

/** 2022 Sponsors **/

.section-sponsors {
    position: relative;
    padding: 50px 50px 50px 250px !important;
}

#sponsors h1 {
    color: #BF2632;
    font-size: 56px;
    font-family: 'Ubuntu', sans-serif;
}
/*h1, h2 {*/
/*    font-family: 'Open Sans', cursive !important;*/
/*    font-weight: bolder !important;*/
/*    !*line-height: 46px;*!*/
/*    margin: 0 0 23px 0;*/
/*    color: #282E75 !important;*/
/*}*/

/*h1 {*/
/*    font-size: 50px !important;*/
/*    font-weight: bold;*/
/*}*/

/*h2 {*/
/*    font-size: 15px !important;*/
/*    font-weight: bold;*/

/*}*/

/*h3 {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    font-size: 16px;*/
/*    font-weight: bold !important;*/
/*    color: #000001 !important;*/
/*}*/

/*html {*/
/*    overflow: hidden;*/
/*    height: 100%;*/
/*}*/

/*body {*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    position: relative;*/
/*    padding-top: 80px;*/
/*}*/

/*p {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    color: #444242 !important;*/
/*}*/

/*!***/
/*    NAVIGATION*/
/***!*/
/*nav {*/
/*    background-color: white;*/
/*}*/

/*.navbar-nav>li>a {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size: 25px;*/
/*    font-weight: bolder;*/
/*    color: #282E75;*/
/*}*/

/*nav>li>a:focus, .nav>li>a:hover {*/
/*    text-decoration: underline !important;*/
/*    background-color: transparent !important;*/
/*}*/

/*.navbar .navbar-nav {*/
/*    display: inline-block !important;*/
/*    float: none !important;*/
/*}*/

/*.navbar .navbar-collapse {*/
/*    text-align: center !important;*/
/*}*/


/*.nav-tabs {*/
/*    border-bottom: none !important;*/
/*    font-family: 'Open Sans', cursive;*/
/*    font-size: 30px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {*/
/*    border: none !important;*/
/*}*/

/*.nav-tabs>li>a:hover {*/
/*    border-color: transparent !important;*/
/*}*/

/*.information {*/
/*    padding-top: 200px;*/
/*}*/


/*.sign-up-btn {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    font-weight: bold;*/
/*    background-color: #BF2632 !important;*/
/*    color: #ffffff !important;*/
/*    border-style: none !important;*/
/*}*/


/*label {*/
/*    display: inline-block;*/
/*    max-width: 100%;*/
/*    margin-bottom: 5px;*/
/*    font-weight: bolder;*/
/*    font-family: 'Open Sans',  sans-serif;*/
/*    font-size: 18px;*/
/*    padding-bottom: 7px;*/
/*    padding-top: 5px;*/
/*}*/

/*#myTabContent p {*/
/*    font-size: 16px !important;*/
/*}*/

/*#myTabContent ul li {*/
/*    font-family: 'Open Sans',  sans-serif;*/
/*    font-size: 16px !important;*/

/*}*/

/*#mentor  .col-lg-6 {*/
/*    padding-bottom: 50px;*/
/*}*/

/*#rules .col-lg-12 {*/
/*    padding-top: 50px;*/
/*}*/

/*footer {*/
/*    padding-top: 200px;*/
/*}*/

/*#sponsors img {*/
/*    padding-bottom: 100px;*/
/*    max-width: 85% !important;*/
/*}*/

/*#sponsors h1 {*/
/*    padding-bottom: 60px;*/
/*}*/

/*section#sponsors {*/
/*    padding-top: 150px;*/
/*    padding-bottom: 60px;*/
/*}*/

/*#info h3 {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    color: #337ab7 !important;*/
/*    font-weight: bolder;*/
/*}*/

/*svg {color: #F45254 !important;}*/


/*#firstplace {*/
/*    background-color: #BF2632;*/
/*    height: 600px;*/
/*    padding-top: 190px;*/
/*}*/
/*#secondplace{*/
/*    background-color: #282E75;*/
/*    height: 600px;*/
/*    padding-top: 190px;*/
/*}*/

/*#thirdplace{*/
/*    background-color: #337ab7;*/
/*    height: 600px;*/
/*    padding-top: 190px;*/
/*}*/

/*#innovation{*/
/*    background-color: #E8F1F6;*/
/*    height: 600px;*/
/*    padding-top: 190px;*/
/*}*/


/*#themes p{*/
/*    font-size: 16px;*/
/*}*/

/*section#info {*/
/*    padding-top: 300px;*/
/*    padding-bottom: 100px;*/
/*}*/


/*
    FAQ SECTION
*/
/*section#faq {*/
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
/*}*/

/*#general-tab {*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/

/*#applying-tab {*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/
/*#rules-tab{*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/

/*#logistics-tab{*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/
/*#mentor-tab {*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/
/*#sponsorsinfo-tab{*/
/*    color: #BF2632;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: bold;*/
/*}*/

/*#myTabContent  label {*/
/*    color: #337ab7;*/
/*    font-family: "Open Sans", sans-serif;*/
/*}*/

/*#myTabContent label p {*/
/*    color: #000000;*/
/*    font-family: "Open Sans", sans-serif;*/
/*}*/

/*
    SCHEDULE SECTION
*/
/*td {*/
/*    padding:  10px 0px 15px 15px !important;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-size: 18px;*/
/*    color: #000000;*/
/*}*/

/*td span {*/
/*    font-weight: bolder;*/
/*}*/

/*th {*/
/*    font-size: 35px;*/
/*    font-family: 'Open Sans', cursive;*/
/*    color: #BF2632;*/
/*    font-weight: bold;*/
/*}*/

/*.img-thumbnail {*/
/*    border: none !important;*/
/*}*/

/*#judges h3 {*/
/*    color: #337ab7 !important;*/
/*}*/


/*
    MAP SECTION
*/

/*#map {*/
/*    width: 150%;*/
/*    height: 700px !important;*/
/*}*/

/*#map-section{*/
/*    background-color: #026CA7;*/
/*}*/

/*#map-section h3 {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    color: #ffffff !important;*/
/*    font-size: 35px;*/

/*}*/

/*.mapboxgl-map {*/
/*    width: 150% !important;*/
/*}*/
/*canvas.mapboxgl-canvas{*/
/*    width:150% !important;*/
/*}*/

/*#map-section h4 {*/
/*    color: #ffffff !important;*/
/*}*/

/*#map-section label {*/
/*    font-family: 'Open Sans', sans-serif !important;*/
/*    font-weight: bolder;*/
/*    font-size: 35px;*/
/*    color: #ffffff !important;*/
/*}*/

/*#map-section p {*/
/*    font-size: 20px;*/
/*    color: #000000 !important;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    font-weight: bold;*/
/*}*/
